/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* style */

* {
    box-sizing: border-box;
}
.header .inner-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}
.logo{
    margin-bottom: 2em;
}
.header-link{
    margin-left: 2em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.Welcome{
    background-color: #1F2937;
    color: white;
}

.Gallery{
    color:black
}
.Welcome .rounded-border{
    border-radius: 20px 60px 20px 60px;
}

.Gallery .Double-placeholder{
    display: flex;
    flex-direction: row;
    
}

.Peeking{
    background-color: #E5E7EB;
}

.Parallax{
    background-image: url("./sources/1245.JPEG");
    background-attachment: scroll; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}
.Parallax .normal-text{
    color: #E5E7EB;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.Gallery .heading{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 25px;
}
.Gallery .normal-text{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;    
}

.Bottom .call-action{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.Bottom .button{
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2em;
    white-space: nowrap;
    text-align: center;
}

.Bottom{
    color: white;
}

.footer-end{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
.footer-end .inner-column{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-end .normal-text{
    color: white;
}
.link{
    color: white;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.inner-column{

    display:block;
    padding: 10px;
    width: 95%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.Double-placeholder{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Image-Self{
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.Double-placeholder .text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.Double-placeholder .text-content p{
    display: block;
    margin-top: 15px;
    
}


@media(min-width: 768px){
    .Double-placeholder{

        flex-direction: row-reverse;
        justify-content: center; 
    }

    .Double-placeholder :is(.text-content, .Image-placeholder){
        flex-basis: 50%;
    }

    .Bottom .call-action{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Parallax {
        background-attachment: fixed;
        background-position: top;
    }

    .Parallax .normal-text {
        font-size: 60px;
    }


}

.Image-placeholder{
    display: block;
    border: 1px solid #1F2937;
}



img{
    display: block;
    width: 100%;
    max-width : 500px;
    height: auto;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

p a, li a{
    color: blue;
    display: block;
    text-decoration: underline;
}


.heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.normal-text{
    font-size: 17px;
    font-weight: 350;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
    background-color: darkslateblue;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1.5;
    display: inline-block;
    border-radius: 3px;
    margin-top: 2em;
    margin-bottom: 2em;
}